.container {
  width: 100%;
}

.techvision{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.vision{
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(1, 6, 12, 0.14) 0px 4px 25px 0px;
  border-bottom: solid 4px rgba(1, 6, 12, 0.14);
}

.vision p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}

.mission{
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(1, 6, 12, 0.14) 0px 4px 25px 0px;
  border-bottom: solid 4px rgba(1, 6, 12, 0.14);
}
.mission p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}

.jobWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
}

.jobImage {
  width: 50%;
}

.jobImage img{
  width: 100%;
}

.jobText {
  width: 50%;
}

.jobText p {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
  color: #333333;

}

.talent{
  padding: 29px 26px 29px;
  border-radius: 10px;
  box-shadow: rgba(1, 6, 12, 0.14) 0px 4px 25px 0px;
}

.talent p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}

.method{
  padding: 29px 26px 29px;
  border-radius: 10px;
  box-shadow: rgba(1, 6, 12, 0.14) 0px 4px 25px 0px;
  width: 90%;
  margin: auto;
  margin-bottom: 4rem;
}

.method p{
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #333333;
}

@media screen and (max-width: 768px){
  .techvision{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .jobWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  
  .jobImage {
    width: 90%;
  }
  
  .jobText {
    width: 100%;
  }


}
