.container {
    width: 100%;
    /* background: rgba(14, 57, 151, 1); */
    background: rgba(255, 102, 0, 1);
    padding: 2rem 0;
}

.innerContainer {
    width: 90%;
    margin: auto;
    text-align: center;
}


.testimonySlide {
    width: 15%;
    height: 400px;
    margin: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    /* margin-top: 6rem; */
}

.innerContainer h2 {
    font-size: 33px;
    font-weight: 600;
    line-height: 58.09px;
    color: #fff;
    margin-bottom: 3rem;
}

.paragraph{
    margin-bottom: 3rem;
}

.paragraph p {
    font-size: 16px;
    font-weight: 400;
}

.clientName p {
    font-size: 16px;
    font-weight: 400;
}

.clientName h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

@media screen and (max-width: 1024px){
    .wrap {
        width: 65%;
    }
}

@media screen and (max-width: 768px){
    .innerContainer {
        width: 80%;
    }
}

@media screen and (max-width: 425px){
    .innerContainer h2 {
        margin-bottom: 2rem;
    }
    
    .paragraph p {
        width: 80%;
        margin: auto;
    }

    .testimonySlide {
        gap: 0.5rem;
        width: 85%;
        margin: auto;
        margin-top: 3rem;
    }
}